@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  color: #f9faf8;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
}

/* HEADER & HERO SECTION */

header {
  background-color: #1f2937;
  min-height: 60vh;
  padding: 20px 150px;
}

h1 + p {
  color: #f9faf8;
  margin-bottom: 18px;
  line-height: 1.5;
}

.main_header_container {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  font-size: 24px;
  color: #f9faf8;
}

.links a {
  margin: 0 18px;
}

.hero_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.left {
  max-width: 40%;
}

.right {
  max-width: 50%;
}

.sign_up_btn {
  background-color: rgb(56, 130, 246);
  border-radius: 4px;
  padding: 5px 20px;
}

.sign_up_btn:hover {
  background-color: rgba(56, 130, 246, 0.7);
}

.placeholder_img {
  background-color: #999;
  color: #fff;
  width: 375px;
  height: 150px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INFO SECTION */
.info_section h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding-top: 18px;
  margin: 0 150px;
}

.info_cards_container {
  display: flex;
  padding: 36px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.info_card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.placeholder_box {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 8px;
}

.placeholder_box + p {
  margin-top: 18px;
  max-width: 150px;
}

/* QUOTE SECTION */
.quote_section {
  height: 50vh;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote_section p {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  max-width: 65%;
}

.author {
  font-size: 24px;
  font-weight: 900;
  margin-left: 600px;
}
